<section class="about py-5">
    <div class="container">
      
        <div class="head text-center text-light">
            <h1>ABOUT COMPONENT</h1>
            <div class="line-with-star">
                <div class="line"></div>
                <span class="star">&starf;</span>
                <div class="line"></div>
            </div>
        </div>
        <div class="row text-light">
            <div class="col-md-6">
                <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
            </div>
            <div class="col-md-6">
                <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
            </div>
        </div>
    </div>
</section>
