<section class="contact py-3">
    <div class="container">
        <div class="head text-center">
            <h1 class="text-uppercase">Contact Section</h1>
            <div class="line-with-star">
                <div class="line"></div>
                <span class="star">&starf;</span>
                <div class="line"></div>
            </div>
        </div>

        <div class="form">
            <div class="input-container">
                <input type="text" class="custom-input" placeholder=" " id="input1">
                <label for="input1" class="floating-placeholder">userName</label>
            </div>
    
            <div class="input-container">
                <input type="text" class="custom-input" placeholder=" " id="input2">
                <label for="input2" class="floating-placeholder">userAge</label>
            </div>
            <div class="input-container">
                <input type="text" class="custom-input" placeholder=" " id="input1">
                <label for="input1" class="floating-placeholder">userEmail</label>
            </div>
    
            <div class="input-container">
                <input type="text" class="custom-input" placeholder=" " id="input2">
                <label for="input2" class="floating-placeholder">userPassword</label>
            </div>
            <button class="btn text-light">Send Message</button>
        </div>
    </div>
</section>